<div class="login-box">
  <div class="card">
    <div class="card-body login-card-body">
      <div class="login-logo">
        <img src="assets/img/logo.png" class="img-fluid">
      </div>
      <p class="login-box-msg">Recuperar Contraseña</p>
      <form (submit)="sendCodeResetPass()">

      
        <div class="input-group mb-3">
          <input [(ngModel)]="Identification" name="Identification" type="text" class="form-control" id="Identification" placeholder="Identificación">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div *ngIf="errorOccured" class="text-danger mb-2"> <i class="fas fa-exclamation"></i> Ocurrió un error al enviar el correo.</div>

        <div class="row">
          <div class="col mb-3">
            <a (click)="sendCodeResetPass()" class="btn btn-primary btn-block">Enviar código</a>
            <!-- <a href="auth/confirmation-password" class="btn btn-primary btn-block">Enviar código</a> -->
            <!-- <button type="submit" class="btn btn-primary btn-block">Enviar código</button> -->
            
          </div>

        </div>
      </form>
      <p class="mb-1">
        <a href="auth/login">Volver a iniciar sesión</a>
      </p>
    </div>
  </div>
</div>
