<div class="login-box">
  <div class="card">
    <div class="card-body login-card-body">
      <div class="login-logo">
        <img src="assets/img/logo.png" class="img-fluid" />
      </div>

      <div *ngIf="showCode" class="callout callout-info">
        <p>Revisa tu correo para el código de recuperación.</p>
      </div>
      <div *ngIf="showTrue" class="alert alert-success" role="alert">
        <p>
          Se ha restablecido correctamente la contraseña. Por favor, inicie
          sesión nuevamente.
        </p>
      </div>
      <div *ngIf="showFalse" class="alert alert-danger" role="alert">
        <p>
          Ocurrió un error, al restablecer la contraseña. Intente nuevamente.
        </p>
      </div>

      <div #identificacionInput class="input-group mb-3">
        <input
          [(ngModel)]="Identification"
          name="identificacion"
          type="text"
          class="form-control"
          placeholder="Identificación"
          autocomplete="off"
          readonly
        />
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-user"></span>
          </div>
        </div>
      </div>

      <div #codigoSeguridadInput class="input-group mb-3">
        <input
          [(ngModel)]="Code"
          name="codigo"
          type="text"
          class="form-control"
          placeholder="Código de seguridad"
          autocomplete="off"
        />
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-code"></span>
          </div>
        </div>
      </div>

      <div #contrasenaInput class="input-group mb-3">
        <input
          [(ngModel)]="Password"
          name="password"
          type="password"
          class="form-control"
          placeholder="Nueva Contraseña"
          autocomplete="new-password"
        />
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-lock"> </span>
          </div>
        </div>
      </div>

      <div *ngIf="errorMessage" class="text-danger mb-2">
        <i class="fas fa-exclamation"></i>
        {{ errorMessage }}
      </div>

      <div #botonInput class="row">
        <div class="col mb-3">
          <button class="btn btn-primary btn-block" (click)="resetPassword()">
            Actualizar contraseña
          </button>
        </div>
      </div>

      <p class="mb-1">
        <a href="auth/login">Regresar a iniciar sesión</a>
      </p>
    </div>
  </div>
</div>
