<ng-container *ngIf="loading; else content">
  <app-spinner [visible]="loading"></app-spinner>
</ng-container>


<ng-template #content>


  <p-table class="table table-sm"
           [value]="users"
           [paginator]="false"
           [rows]="10"
           [totalRecords]="1"
           [lazy]="false"
           [showCurrentPageReport]="true"
           scrollDirection="vertical"
           currentPageReportTemplate="Mostrando {last} de {totalRecords} registros"
           selectionMode="single">

          <ng-template pTemplate="header">
              <tr>
                <th>Identificación</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Estado</th>
                <th>Acciones</th>
              </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td>{{ user.identification }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.status }}</td>
            <td>
              <button (click)="Edit(user)" class="btn btn-warning"><i class="fas fa-edit"></i></button>
              <!-- &nbsp; &nbsp;
              <button (click)="Delete(user)" class="btn btn-danger"><i class="fas fa-trash"></i></button> -->
            </td>
          </tr>
      </ng-template>
    </p-table>

    <p-confirmDialog>

    </p-confirmDialog>


</ng-template>
