<ng-container *ngIf="loading2; else content">
  <!-- <app-spinner [visible]="loading"></app-spinner> -->
</ng-container>

<ng-template #content>
  <div class="card flex justify-content-center loading" *ngIf="loading">
    <p-progressSpinner strokeWidth="5"></p-progressSpinner>
  </div>

  <form [formGroup]="beneficiarioForm" class="container-fluid">
    <div class="d-flex flex-wrap">
      <div class="form-group flex-fill col-6" *ngIf="update || view">
        <label for="idPerson">N° Beneficiario</label>
        <input
          type="text"
          id="Id"
          formControlName="personId"
          class="form-control"
          [attr.readonly]="update || view ? true : null"
        />
      </div>

      <div class="form-group flex-fill col-6" *ngIf="update || view"></div>

      <div class="form-group flex-fill col-6">
        <label for="identificationTypeId">Tipo Identificación</label>
        <select
          id="identificationTypeId"
          formControlName="identificationTypeId"
          class="form-control"
          [attr.readonly]="view ? true : null"
        >
          <option value="" disabled selected>Seleccione una opción</option>
          <option
            *ngFor="let option of identificationTypes"
            [value]="option.id"
          >
            {{ option.description }}
          </option>
        </select>
        <app-error-display
          [control]="beneficiarioForm.get('identificationTypeId')"
        ></app-error-display>
      </div>

      <div class="form-group flex-fill col-6">
        <label for="identification">Identificación</label>
        <input
          type="text"
          id="identification"
          formControlName="identification"
          minLength="10"
          maxLength="10"
          class="form-control"
          [attr.readonly]="view ? true : null"
        />
        <app-error-display
          [control]="beneficiarioForm.get('identification')"
          [minLength]="10"
          [maxLength]="10"
          [pattern]="'números'"
        ></app-error-display>
      </div>

      <div class="form-group flex-fill col-6">
        <label for="firstName">Primer Nombre</label>
        <input
          type="text"
          id="firstName"
          formControlName="firstName"
          class="form-control"
          maxlength="10"
          [attr.readonly]="view ? true : null"
          required="*"
        />
        <app-error-display
          [control]="beneficiarioForm.get('firstName')"
          [minLength]="1"
          [maxLength]="10"
          [pattern]="'caracteres'"
        ></app-error-display>
      </div>

      <div class="form-group flex-fill col-6">
        <label for="secondName">Segundo Nombre</label>
        <input
          type="text"
          id="secondName"
          formControlName="secondName"
          class="form-control"
          maxlength="10"
          [attr.readonly]="view ? true : null"
        />
        <app-error-display
          [control]="beneficiarioForm.get('secondName')"
          [minLength]="3"
          [maxLength]="10"
          [pattern]="'caracteres'"
        ></app-error-display>
      </div>

      <div class="form-group flex-fill col-6">
        <label for="lastName">Primer Apellido</label>
        <input
          type="text"
          id="lastName"
          formControlName="lastName"
          class="form-control"
          maxlength="10"
          [attr.readonly]="view ? true : null"
        />
        <app-error-display
          [control]="beneficiarioForm.get('lastName')"
          [minLength]="3"
          [maxLength]="10"
          [pattern]="'caracteres'"
        ></app-error-display>
      </div>

      <div class="form-group flex-fill col-6">
        <label for="secondLastName">Segundo Apellido</label>
        <input
          type="text"
          id="secondLastName"
          formControlName="secondLastName"
          class="form-control"
          maxlength="10"
          [attr.readonly]="view ? true : null"
        />
        <app-error-display
          [control]="beneficiarioForm.get('secondLastName')"
          [minLength]="3"
          [maxLength]="10"
          [pattern]="'caracteres'"
        ></app-error-display>
      </div>

      <div class="form-group flex-fill col-6">
        <label for="email">Correo electónico</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
          [attr.readonly]="view ? true : null"
        />
        <app-error-display
          [control]="beneficiarioForm.get('email')"
          [pattern]="'un email'"
        ></app-error-display>
      </div>

      <div class="form-group flex-fill col-6">
        <label for="phone">Teléfono</label>
        <input
          type="text"
          id="phone"
          formControlName="phone"
          [maxLength]="10"
          class="form-control"
          [attr.readonly]="view ? true : null"
        />
        <app-error-display
          [control]="beneficiarioForm.get('phone')"
          [minLength]="10"
          [pattern]="'números'"
          [maxLength]="10"
        ></app-error-display>
      </div>

      <div class="form-group flex-fill col-12">
        <label for="description">Descripción</label>
        <input
          type="text"
          id="description"
          formControlName="description"
          class="form-control"
          maxlength="10"
          [attr.readonly]="view ? true : null"
        />
        <app-error-display
          [control]="beneficiarioForm.get('description')"
          [pattern]="'caracteres y numeros'"
          [maxLength]="10"
        ></app-error-display>
      </div>
    </div>
    <div class="col-md-12" *ngIf="!view">
      <hr />
      <button
        type="submit"
        (click)="InputData()"
        class="btn btn-primary"
        [disabled]="!beneficiarioForm.valid"
      >
        {{ label }}
      </button>
    </div>
  </form>
</ng-template>
