<p-dialog header="Ingresar Nuevo Donante" [(visible)]="visible" [modal]="true">
  <ng-template pTemplate="content">
    <div class="container bg-white p-4 rounded">
      <form [formGroup]="donorForm" (ngSubmit)="guardarDonante()" class="needs-validation" novalidate>
        
        <div class="mb-3">
          <label for="identificacion" class="form-label">Identificación</label>
          <input
            type="text"
            class="form-control"
            id="identificacion"
            formControlName="identificacion"
            required
          />
          <div class="invalid-feedback">
            Por favor, ingrese una identificación.
          </div>
        </div>
      
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="name" class="form-label">Primer Nombre</label>
              <input
                type="text"
                class="form-control"
                id="name"
                formControlName="name"
                required
              />
              <div class="invalid-feedback">Por favor, ingrese un nombre.</div>
            </div>
      
            <div class="mb-3">
              <label for="secondname" class="form-label">Segundo Nombre</label>
              <input
                type="text"
                class="form-control"
                id="secondname"
                formControlName="secondname"
                required
              />
              <div class="invalid-feedback">Por favor, ingrese el segundo nombre.</div>
            </div>
          </div>
      
          <div class="col-md-6">
            <div class="mb-3">
              <label for="lastname" class="form-label">Primer Apellido</label>
              <input
                type="text"
                class="form-control"
                id="lastname"
                formControlName="lastname"
                required
              />
              <div class="invalid-feedback">
                Por favor, ingrese el primer apellido.
              </div>
            </div>
      
            <div class="mb-3">
              <label for="secondlastname" class="form-label">Segundo Apellido</label>
              <input
                type="text"
                class="form-control"
                id="secondlastname"
                formControlName="secondlastname"
                required
              />
              <div class="invalid-feedback">
                Por favor, ingrese el segundo apellido.
              </div>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="namecomplete" class="form-label">Nombre Completo</label>
              <input
                type="tel"
                class="form-control"
                id="namecomplete"
                formControlName="namecomplete"
                pattern="\d{10}"
              />
              <div class="invalid-feedback">
                Por favor, ingrese el Nombre Completo.
              </div>
            </div>
      
          
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="phone" class="form-label">Celular</label>
              <input
                type="tel"
                class="form-control"
                id="phone"
                formControlName="phone"
                pattern="\d{10}"
              />
              <div class="invalid-feedback">
                Por favor, ingrese un número de celular válido (10 dígitos).
              </div>
            </div>
      
            <div class="mb-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
              />
              <div class="invalid-feedback">
                Por favor, ingrese un correo electrónico válido.
              </div>
            </div>
          </div>
        </div>
      
       


        <div class="d-flex align-items-center gap-2">
          <button type="submit" class="btn btn-primary">Guardar</button>
          <button type="button" (click)="closeDialog()" class="btn btn-danger">Cancelar</button>
        </div>
      </form>
    </div>
  </ng-template>
</p-dialog>

